{% extends 'mypage/base.html' %}

{% block title %}Stats{% endblock %}

{% block mypage_content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#vocabulary">Vocabulary</a></li>
  <li><a data-toggle="tab" href="#listening">Listening</a></li>
  <li><a data-toggle="tab" href="#transcription">Transcription</a></li>
</ul>

<div class="tab-content">
  <div id="vocabulary" class="tab-pane fade">
    <h2>Listening Game Stats</h2>
  </div>
  <div id="listening" class="tab-pane fade">
    <h2>Listening Game Stats</h2>
    <h3>Average Time to Answer Problem</h3>
    <div style="margin-top:40px;">
      <canvas id="listening-chart" width="700" height="500"></canvas>
    </div>
  </div>
  <div id="transcription" class="tab-pane fade">
    <h2>Transcription Game Stats</h2>
    <h3>Average Time to Answer Problem</h3>
    <div style="margin-top:40px;">
      <canvas id="transcription-chart" width="700" height="500"></canvas>
    </div>
  </div>
</div>

{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="{% static 'mypage/js/stats.js' %}"></script>

{% endblock %}
