*.sqlite3
*.pyc
.ropeproject
.coverage
__pycache__
node_modules
# bower components
apps/core/static/components
# temporaly files
tmp/

# media files
media/
game_data/listening/**/*.mp3

# Sensitive information
secrets.py
