*.sqlite3
*.pyc
*.ogv
.ropeproject
.coverage
__pycache__
node_modules
# virtual env
venv
# bower components
apps/core/static/components
# socket file
run/

# JS concat and uglified files
concat.js
uglify.js

# temporaly files
tmp/

# packages and problems
game_data/

# media files
media/
game_data/listening/**/*.mp3

# log files
logs/

# Sensitive information
secrets.py
