{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About This Site</h1>

This site is developed to help improve English skills.
There are three games to improve all English skills;
<ul>
  <li>Vocabulary,</li>
  <li>Listening,</li>
  <li>Transcription.</li>
</ul>
But in developing, I realize that these games can also
be applied to any languages.
So I'm now planning to develop an web site,
which is not only for English, but also any languages.
This site will move to the site after I complete to develop.

{% endblock %}
