{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-offset-2 col-md-8">
  <h1>About Me and This Site</h1>
  
  <p>
  Hello, I'm Shinsuke Hamasho, a Japanese learning English and
  the developer of this site.
  </p>
  
  <p>
  This site is first created to improve my English skills.
  I have learned English for several years and
  found that there are three exercises
  which improved my English skills dramatically.
  It's the following exercises;
  <ul>
    <li>Vocabulary exercise,</li>
    <li>Listening exercise and</li>
    <li>Transcription exercise.</li>
  </ul>
  So I have developed this web site
  to help me improve my English skills
  throug these exercises.
  And then I realized that this site can help all people
  who learn English.
  </p>

  <p>
  I'm trying to make this web site better.
  But because I'm the only one developer and
  I don't have enough time and money,
  there may be some bugs and performance issues.
  If you find such, please 
  <a href="{% url 'home:contact' %}">contact me</a>.
  </p>

  <p>
  I'm happy if you play these exercises and
  improve your skills.
  Enjoy!
  </p>
</div>

{% endblock %}
