{% extends 'base.html' %}

{% block content %}

{% load static %}

<div>
  <img class="logo-image"
       src="{% static 'img/logo.png' %}" alt="English Dojo">
</div>
<div class="subtitle">
  Improve your English skills
</div>

<div class="row col-md-offset-1 col-md-10">
  <div class="col-md-4">
    <h3>Improve English Skills by Games</h3>
    <p>
    Three games improve your English skills;
    vocabulary, listening, reading and writing.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Many Problems</h3>
    <p>
    There are many problems for each level's educater.
    No matter how high your English skills are,
    you can choose problems which fit for your level.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Summarize Your Work</h3>
    <p>
    All works done are tracked and summarized.
    You can always check your work.
    This helps to continue your daily work.
    </p>
  </div>
</div>

<div class="row col-md-offset-1 col-md-10" style="margin-top:100px;">


</div>

{% endblock %}
