{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block keywords %}Improve, English skills{% endblock %}

{% block description %}
Improve your English reading, writing, listening and speaking skills.
{% endblock %}

{% block content %}

{% load static %}

<div class="row">
  <div class="hidden-sm" style="margin-top:80px;"></div>
  <div class="col-md-offset-3 col-md-6">
    <img class="img-responsive"
         src="{% static 'img/logo.png' %}" alt="English Dojo">
  </div>
  <div class="hidden-sm" style="margin-top:80px;"></div>
</div>

<div class="row">
  <div class="subtitle">
    Improve Your English skills
  </div>
</div>

<div class="row col-md-offset-1 col-md-10">
  <div class="col-md-4">
    <h3>Improve English skills by Games</h3>
    <p>
    You can play three games to improve your English skills.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Problems for Each Level</h3>
    <p>
    There are problems for each level for learners.
    You can choose good problems which suit for your level.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Summarize Your Progress</h3>
    <p>
    All works are tracked and summarized.
    You can always check your progress.
    </p>
  </div>
</div>

<div class="home row col-md-offset-1 col-md-10"
     style="margin-top:50px;">

  <h1>Improve English by Three Games</h1>

  <div class="row">
    <div class="col-md-4">
      <h3>Vocabulary Game</h3>
      <img src="{% static 'gif/vocabulary_word_select.gif' %}"
           class="img-responsive"
           alt="Vocabulary Game">
      <p>
      Increase your vocabulary by
      checking unknown words repeatedly.
      <a href="{% url 'home:vocabulary_document' %}">Learn more.</a>
      </p>
    </div>
    <div class="col-md-4">
      <h3>Listening Game</h3>
      <img src="{% static 'gif/listening_answer_problems.gif' %}"
           class="img-responsive"
           alt="Listening Game">
      <p>
      Improve your listening skills by
      listening until you completely understand.
      <a href="{% url 'home:listening_document' %}">Learn more.</a>
      </p>
    </div>
    <div class="col-md-4">
      <h3>Transcription Game</h3>
      <img src="{% static 'gif/transcription_answer_problems.gif' %}"
           class="img-responsive"
           alt="Transcription Game">
      <p>
      Improve all of your English skills
      by remembering entire forms of English sentences completely.
      <a href="{% url 'home:transcription_document' %}">Learn more.</a>
      </p>
    </div>
  </div>

  <h1>Summarize Your Work</h1>

  <div class="row">
    <div class="col-md-7">
      <p>
      Your activities are recorded, so it can be reviewed later.
      You can check your English skills improvement
      your history about daily tasks.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'gif/mypage.gif' %}"
           class="img-responsive"
           alt="Mypage">
    </div>
  </div>

</div>

<div class="row" style="margin-bottom:50px"></div>

{% endblock %}
