{% extends 'base.html' %}

{% block title %}Listening Doc{% endblock %}

{% block keywords %}English, Listening skill, Improve{% endblock %}

{% block description %}
Listening game improves your English listening skills.
{% endblock %}

{% block content %}

<div class="col-md-offset-2 col-md-8">
  <div class="row">
    <h1>Listening Game</h1>

    <p>
    Can you understand all words in English converstation?
    You miss some words and imagine the missed words
    from other words you have heard, don't you?
    </p>

    <p>
    In such situation,
    it depends on lack whether you can understand the meaning
    of the spoken sentences.
    If you cannot distinguish 'r' pronunciation,
    you feel confusion with all words including 'r'.
    </p>

    <p>
    In this game,
    we reduce such unclear words
    by hearing sentences repeatedly until you understand
    every word clearly.
    All unclear words become clear and your listening skill
    will be improved.
    Your speaking skill will be improved also,
    by knowing the right pronunciation.
    </p>
  
  </div>
</div>

{% endblock %}
