{% extends 'base.html' %}

{% block title %}Listening Doc{% endblock %}

{% block keywords %}English, Listening skill, Improve{% endblock %}

{% block description %}
Improve your English listening skill by playing game.
{% endblock %}

{% block content %}

<div class="col-md-offset-2 col-md-8">
  <div class="row">
    <h1>Listening Game</h1>

    <p>
    Can you understand all words in English converstation?
    Or you miss some words and guess the missed words
    from other words you could have heard, don't you?
    </p>

    <p>
    In such situation,
    it depends on lack whether you can understand the meaning
    of the spoken sentences.
    If there are many missed words,
    you cannot understand what he/she wants to say.
    You can talk only when most of spoken words are
    simple and easy to understant.
    For example, if you cannot distinguish 'r' pronunciation,
    you are confused with any words including 'r'.
    </p>

    <p>
    In this game,
    we reduce such unclear words
    by hearing sentences repeatedly until you understand
    every word completely.
    All unclear words become clear and your listening skill
    will be improved.
    Your speaking skill will be improved also,
    by knowing the right pronunciation.
    </p>
  
  </div>
</div>

{% endblock %}
