<div class="row" ng-controller="InitializeController">
  <div ng-show="package" class="center-block">
    <h1 style="margin-bottom: 70px;" class="text-center">
      [[ title ]]
    </h1>
    <a ng-href="#/main"
       style="width:200px;"
       class="btn btn-info btn-lg center-block slide">
      Start!
    </a>
  </div>

  <div ng-hide="package">
    <p>
      You may reload this page.
      Please back to the package selection page.
    </p>
    <div>
      <a href="#/" class="btn btn-info">
        Back
      </a>
    </div>
  </div>
</div>
