<div class="row" ng-controller="VocabularyGameController as gc">

  <div ng-show="gc.words.length">
    <h1 style="margin-bottom: 30px;" class="text-center">
      Vocabulary Game
    </h1>

    <div class="row">
      <div class="alert result-display"
           ng-class="gc.displayClass">
        <span ng-show="gc.isRightAnswer">
          <span class="glyphicon glyphicon-ok text-success">
          </span>&nbsp;&nbsp;
        </span>
        <span ng-bind-html="gc.displayedHtml"></span>
        <span ng-hide="gc.isRightAnswer" class="pull-right">
          <div ng-hide="gc.failed">
            <button class="btn btn-danger" ng-click="gc.giveUp()">
              <span class="glyphicon glyphicon-remove">
              </span>
              Give Up!
            </button>
          </div>
          <div ng-show="gc.failed">
            <button class="btn btn-default" ng-click="gc.continue()">
              </span>
              Continue
            </button>
          </div>
        </span>
      </div>
      <input ng-change="gc.update()"
             class="form-control answer-form"
             ng-disable="gc.isRightAnswer"
             type="text" ng-model="gc.input">
    </div>
    <div class="row">
      <div style="margin-bottom: 20px"
           class="game-info col-md-offset-6 col-md-6">
        <div style="margin-bottom:0;" class="progress">
          <div class="progress-bar progress-bar-success"
               ng-style="{ width: gc.progress + '%' }"
               aria-valuenow="[[ gc.progress ]]" 
               role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">[[ gc.progress ]]% Complete</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <div class="panel panel-success">
          <div class="panel-heading">
            Answered words
          </div>
          <div class="panel-body">
            <ul>
              <li ng-repeat="word in gc.answeredWords">
                [[ word.word_text ]] / [[ word.meaning ]]
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Failed words
          </div>
          <div class="panel-body">
            <ul>
              <li ng-repeat="word in gc.failedWords">
                [[ word.word_text ]] / [[ word.meaning ]]
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-hide="gc.words.length">
    <p>
    You may reload this page.
    Please back to the package selection page.
    </p>
    <div>
      <a href="#/" class="btn btn-info">
        Back
      </a>
    </div>
  </div>

</div>
