<div class="row" ng-controller="PackageSelectController as psc">

  <a href="#/start" class="btn btn-info btn-lg" style="margin-right:30px;">
    Start Vocabulary Game
  </a>
  or select your unknown words.

  <h1>Transcription Game Package List</h1>

  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Level</td>
        <td>Published</td>
        <td>Tried</td>
        <td>Completed</td>
      </tr>
    </thead>
    <tbody ng-repeat="package in psc.packages">
      <tr>
        <td>
          <a ng-href="#/words" ng-click="psc.selectPackage(package);">
            [[ package.title ]]
          </a>
        </td>
        <td>[[ package.level ]]</td>
        <td>[[ package.pub_date | date ]]</td>
        <td>[[ package.n_tried ]]</td>
        <td>[[ package.n_completed ]]</td>
      </tr>
    </tbody>
  </table>

</div>
