<div class="row" ng-controller="PackageSelectController as psc">

  <div class="well" ng-show="psc.nLearningWords">
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <ul style="margin-bottom:0">
          <li>Learning words: {{ n_learning_words }}</li>
          <li>Today's words: {{ n_todays_words }}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <a ng-disable="psc.nTodaysWords === 0"
           href="#/start" class="btn btn-info btn-lg" style="width:100%">
          Start Vocabulary Game
        </a>
      </div>
    </div>
  </div>

  <h1>Transcription Game Package List</h1>

  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Level</td>
        <td>State</td>
        <td>Published</td>
        <td>Tried</td>
        <td>Completed</td>
      </tr>
    </thead>
    <tbody ng-repeat="package in psc.packages | orderBy:'state':true">
      <tr>
        <td>
          <a ng-href="#/words" ng-click="psc.selectPackage(package);">
            [[ package.title ]]
          </a>
        </td>
        <td>[[ package.level ]]</td>
        <td>[[ package.state ]]</td>
        <td>[[ package.pub_date | date ]]</td>
        <td>[[ package.n_tried ]]</td>
        <td>[[ package.n_completed ]]</td>
      </tr>
    </tbody>
  </table>

</div>
