<div class="row" ng-controller="PackageSelectController as psc">

  <div class="well" ng-show="psc.nLearningWords">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-6">
        <ul style="margin-bottom:0">
          <li>Learning words: {{ n_learning_words }}</li>
          <li>Today's words: {{ n_todays_words }}</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <button ng-disabled="psc.nTodaysWords === 0"
                ng-click="psc.goToGameView()"
                class="btn btn-info btn-lg" style="width:100%">
          Start Vocabulary Game
        </button>
      </div>
    </div>
  </div>

  <h1>Vocabulary Game Package List</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Level</th>
        <th>State</th>
        <th>Published</th>
        <th>Tried</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody ng-repeat="package in psc.filteredPackages">
      <tr>
        <td>
          <a ng-href="#/words" ng-click="psc.selectPackage(package);">
            [[ package.title ]]
          </a>
        </td>
        <td>[[ package.level ]]</td>
        <td>[[ package.state ]]</td>
        <td>[[ package.pub_date | date ]]</td>
        <td>[[ package.n_tried ]]</td>
        <td>[[ package.n_completed ]]</td>
      </tr>
    </tbody>
  </table>

  <!-- TODO: fix total-items not working -->
  <pagination ng-model="psc.currentPage"
              class="pagination-sm"
              total-items="psc.packages.length"
              max-size="psc.maxSize"
              class="pagination-sm"
              boundary-links="true">
  </pagination>

</div>
