<div class="row" ng-controller="InitController as ic">
  <div ng-show="ic.words.length" class="center-block">
    <h2>Review new words</h2>
    Repeat typing until you remember.
    <table class="table">
      <tr ng-repeat="word in ic.state1Words track by $index">
        <td>[[ word.meaning ]]</td>
        <td>
          <input class="form-control answer-form"
                 style="margin-bottom:0px;"
                 ng-model="word.input"
                 ng-change="ic.update($index)"
                 type="text" placeholder="[[ word.word_text ]]">
        </td>
        <td>
          <span ng-show="word.correct"
                class="glyphicon glyphicon-ok text-success">
          </span>
          <span ng-hide="word.correct"
                class="glyphicon glyphicon-remove text-danger">
          </span>
        </td>
      </tr>
    </table>
    Do you remember all words perfectly?
    <a ng-href="#/main"
       style="width:200px;margin-top:40px;margin-bottom:100px;"
       class="btn btn-info btn-lg center-block slide">
      Start!
    </a>
  </div>

  <div ng-hide="ic.words.length">
    <p>
    You may reload this page.
    Please back to the package selection page.
    </p>
    <div>
      <a href="#/" class="btn btn-info">
        Back
      </a>
    </div>
  </div>
</div>
