<div class="row" ng-controller="WordSelectController as wsc">

  <h1 style="margin-bottom:40px;">Select your unknown words</h1>

  <div ng-keypress="wsc.keypressHandler($event)">
    {% load static %}
    <div class="col-sm-4">
      <a ng-click="wsc.setWordAsKnown()">
        <img class="img-responsive bottom-align"
             style="margin-bottom: 30px;"
             src="{% static 'img/known.png' %}" alt="KNOWING">
      </a>
      <div ng-repeat="word in wsc.knownWords"
           class="alert alert-display-success word-item animated-list">
        [[ word.word_text + ' / ' + word.meaning ]]
      </div>
    </div>
    <div class="col-sm-4">
      <div style="margin-bottom: 20px;"></div>
      <a ng-click="wsc.undoSelection()">
        <img class="img-responsive bottom-align"
             style="margin-bottom: 30px;"
             src="{% static 'img/undo.png' %}" alt="UNDO">
      </a>
      <div ng-repeat="word in wsc.unselectedWords"
           class="word-box alert animated-list"
           ng-class="{'current-word':$first}">
        [[ word.word_text + ' / ' + word.meaning ]]
      </div>
      <div ng-hide="wsc.unselectedWords.length">
        <button ng-click="wsc.storeUnknownWords()"
                style="width:100%"
                class="btn btn-info btn-lg">
          Store unknown words
        </button>
      </div>
    </div>
    <div class="col-sm-4">
      <a ng-click="wsc.setWordAsUnknown()">
        <img class="img-responsive bottom-align"
             style="margin-bottom: 30px;"
             src="{% static 'img/unknown.png' %}" alt="KNOWING">
      </a>
      <div ng-repeat="word in wsc.unknownWords"
           class="alert alert-display-danger word-enter animated-list">
        [[ word.word_text + ' / ' + word.meaning ]]
      </div>
    </div>
  </div>

</div>
