.vertical-space-30 {
  margin-top: 30px; }

body {
  font-family: 'Lato', arial;
  font-weight: 400;
  font-size: 20px;
  color: #8F7A66;
  background-color: #FAF8EF; }

.navbar.navbar-default {
  border-radius: 0px; }

.btn {
  border-radius: 0; }

.panel {
  border-radius: 0;
  background-color: #FAF8EF; }

.form-control, .form-control:focus {
  border: 3px solid #eee;
  border-bottom: 3px solid #776E65;
  border-radius: 0;
  background-color: #FAF8EF; }

.answer-form {
  font-size: 18px;
  height: 40px; }

.game-cleared {
  color: green; }

.answer-correct-part {
  background-color: #DFF0D8; }

.answer-incorrect-part {
  background-color: #F2DEDE;
  text-decoration: line-through; }

.navbar-default {
  background-color: #8F7A66;
  border-color: #BBAAA0; }
  .navbar-default .navbar-brand {
    color: #FAF8EF; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #E0E0D0; }
  .navbar-default .navbar-text {
    color: #FAF8EF; }
  .navbar-default .navbar-nav > li > a {
    color: #FAF8EF; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #E0E0D0; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #E0E0D0;
    background-color: #BBAAA0; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #E0E0D0;
    background-color: #BBAAA0; }
  .navbar-default .navbar-toggle {
    border-color: #BBAAA0; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #BBAAA0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FAF8EF; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #FAF8EF; }
  .navbar-default .navbar-link {
    color: #FAF8EF; }
    .navbar-default .navbar-link:hover {
      color: #E0E0D0; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FAF8EF; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #E0E0D0; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E0E0D0;
    background-color: #BBAAA0; } }
