$bgcolor1: #FAF8EF;
$bgcolor2: #D3D0BE;
$bgcolor-light: #FFFFFC;
//$color1: #A1978D;
$color1: #777777;
$color2: #BBADA0;
$color3: #8F7A66;
$color4: #776E65;
$hl-color: #ada69f;

$blue: #31708f;
$green: #3c763d;
$red: #a94442;
$pastel-blue: #BFFFFF;
$pastel-green: #ABE8AC;
$pastel-red: #FF6861;
$grey: #DDDDDD;

$success-bg: #DFF0D8;
$info-bg: #D9EDF7;
$warning-bg: #FCF8E3;
$danger-bg: #F2DEDE;

.vertical-space-30 {
  margin-top: 30px;
}
.vertical-center {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

/**
 * ==================================================================
 *  Documents
 * ==================================================================
 */
body {
  font-family: 'Lato', arial;
  font-weight: 400;
  font-size: 18px;
  color: $color4;
  background-color: $bgcolor1;
  line-height: 1.5;
}
h1 {
  margin-bottom: 20px;
  margin-top: 30px;
}
p {
  margin-bottom: 20px;
  color: $color1;
}
.p-ul {
  color: $color1;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  color: $blue;
}
.logo-image {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 45%;
  display: block;
}
.subtitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}
.navbar.navbar-default {
  border-radius: 0px;
}

.btn {
  border-radius: 0;
}
.btn-default {
  background-color: $color1;
  color: $bgcolor1;
}
.panel {
  border-radius: 0;
}
.form-control, .form-control:focus {
}

/* Side bar */
.list-group a.list-group-item {
  color: $color4;
  background-color: $bgcolor1;
  border: 3px solid $color4;
  border-bottom: none;
}
.list-group a.list-group-item.active {
  color: $bgcolor1;
  background-color: $color4;
}
.list-group a.list-group-item:last-child {
  border-bottom: 3px solid $color4;
}

/**
 * ==================================================================
 *  Animation
 * ==================================================================
 */
.view {
  position: absolute;
  width: 100%;
  top: 30px;
}
.slide {
  transition: 300ms;
}
.slide.ng-enter {
  left: 100%;
}
.slide.ng-leave, .slide.ng-enter-active {
  left: 0%;
}
.slide.ng-leave-active {
  left: -100%;
}
.animated-list {
  opacity: 1;
}
.animated-list-enter {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
}
.animated-list-enter-active {
  opacity: 1;
}

.animated-list.ng-enter, 
.animated-list.ng-leave
{ 
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
  display: block;
} 

.animated-list.ng-enter.animated-list.ng-enter-active, 
.animated-list.ng-leave {
  opacity: 1;
  top: 0;
}

.animated-list.ng-leave.animated-list.ng-leave-active,
.animated-list.ng-enter {
  opacity: 0;
  top: -50px;
}

/**
 * ==================================================================
 *  Game
 * ==================================================================
 */
// Common
.game-display-title {
  margin-top: 100px;
  margin-bottom: 80px;
}
.result-display {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
.answer-incorrect-part {
  background-color: $danger-bg;
  text-decoration: line-through;
}
.answer-form, .answer-form:focus {
  border: 3px solid #eee;
  border-bottom: 3px solid $color4;
  border-radius: 0;
  background-color: $bgcolor1;
  box-shadow: none;
  font-size: 20px;
  height: 46px;
  margin-bottom: 80px;
}
.game-info {
  padding: 10px;
  background-color: $bgcolor2;
}
.alert-display {
  border: 2px solid $blue;
  border-radius: 4px;
  box-shadow: 0px 0px 10px $blue;
}
.alert-display-success {
  border-radius: 4px;
  border: 2px solid $green;
  box-shadow: 0px 0px 10px $green;
}
.alert-display-danger {
  border-radius: 4px;
  border: 2px solid $red;
  box-shadow: 0px 0px 10px $red;
}

// Transcription game

// Listening game

// Vocabulary game
.word-box {
  color: $color4;
  border-radius: 4px;
  border: 2px solid $color4;
}
.current-word {
  font-size: 20px;
  border: 2px solid $blue;
  box-shadow: 0px 0px 10px $blue;
}

/**
 * Mypage
 */
// History
.history-month-box {
  background-color: $bgcolor-light;
  margin: 20px;
  padding: 0;
}
.history-calendar-box {
  width: 185px;
  padding: 5px;
  line-height: 0;
  h3 {
    margin-top: 10px;
  }
}
.history-calendar-day-box {
  display: inline-block;
  margin: 2px;
  width: 21px;
  height: 10px;
}
.history-day-base {
  display: inline-block;
  width: 33%;
  height: 100%;
}
.history-day-none {
  display: inline-block;
  background-color: $bgcolor-light;
  width: 100%;
  height: 100%;
}
.history-day-blank {
  @extend .history-day-base;
  background-color: $grey;
}
.history-day-vocabulary {
  @extend .history-day-base;
  background-color: $pastel-green;
}
.history-day-listening {
  @extend .history-day-base;
  background-color: $pastel-blue;
}
.history-day-transcription {
  @extend .history-day-base;
  background-color: $pastel-red;
}
.history-text-vocabulary {
  font-size: 16px;
  color: $green;
}
.history-text-listening {
  font-size: 16px;
  color: $blue;
}
.history-text-transcription {
  font-size: 16px;
  color: $red;
}

/**
 * ==================================================================
 *  Bootstrap
 * ==================================================================
 */
// Navbar

$bgDefault      : $color4;
$bgHighlight    : $hl-color;
$colDefault     : $bgcolor1;
$colHighlight   : $bgcolor1;
$dropDown       : false;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
  color: $colHighlight; }}
  .navbar-text {
  color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
      color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
            background-color: $bgHighlight; }}
            > .divider {
    background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
    background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
    background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
  background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
    background-color: $bgHighlight; }
    .icon-bar {
  background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
  border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
    color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
  background-color: $bgHighlight; }}}
}
