{% extends 'base.html' %}

{% block content %}

<div class="vertical-space-30"></div>

<div class="col-md-offset-3 col-md-6">
  <div class="row">

    <div class="panel panel-info">

      <div class="panel-heading">Sign Up</div>

      <div class="panel-body">
        <form action="{% url 'registration:signup' %}" method="post" class="form-horizontal">
          {% csrf_token %}

          {% if form.username.errors %}
          <div class="alert alert-danger">
            <strong>Error: </strong>
            {{ form.username.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-md-3">
              <label for="id_username">Username:</label>
            </div>
            <div class="col-md-9">
              <input type="text" id="id_username" class="form-control" name="username" value="{{ form.data.username }}">
            </div>
          </div>

          {% if form.email.errors %}
          <div class="alert alert-danger">
            <strong>Error: </strong>
            {{ form.email.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-md-3">
              <label for="id_password">Email:</label>
            </div>
            <div class="col-md-9">
              <input type="text" id="id_email" class="form-control" name="email" value="{{ form.data.email }}">
            </div>
          </div>

          {% if form.password.errors %}
          <div class="alert alert-danger">
            <strong>Error: </strong>
            {{ form.password.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-md-3">
              <label for="id_password">Password:</label>
            </div>
            <div class="col-md-9">
              <input type="password" id="id_password" class="form-control" name="password" value="{{ form.data.password }}">
            </div>
          </div>

          {% if info_form.language.errors %}
          <div class="alert alert-danger">
            <strong>Error: </strong>
            {{ info_form.language.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-md-3">
              <label for="id_language">Language:</label>
            </div>
            <div class="col-md-9">
              <select id="id_language" name="language" class="form-control">
                {% for x,y in info_form.fields.language.choices %}
                  <option value="{{ x }}"{% if info_form.fields.language.value == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {% if info_form.age.errors %}
          <div class="alert alert-danger">
            <strong>Error: </strong>
            {{ info_form.age.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-md-3">
              <label for="id_age">Age:</label>
            </div>
            <div class="col-md-9">
              <input type="number" id="id_age" class="form-control" name="age" value="{{ info_form.data.age }}">
            </div>
          </div>

          <button class="btn btn-info pull-right" type="submit">Submit</button>
        </form>
      </div>

    </div>

  </div>
</div>

{% endblock %}
